body {
    font-family: helvetica;
  }
  
  ul {
    font-family: monospace;
  }

li {
  list-style: circle;
}

.list {
  list-style: square;
}

#date {
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
}

#banner {
    height: 100px;
    text-align: center;
}
#banner > h1 {
    margin-top: auto;
    margin-bottom: auto;
}